Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
Platforms
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/StarterContent
**/Assets


.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Source/3dplant_plant_shFjC
/Source/Swamp Soil_tjmhfcjl_Surface
/Source/Scattered Tree Bark 2x2 M_sgvoamn_Decal
/Source/Scattered Sticks And Twigs_sm0p2do_Decal
/Source/Scattered Dry Leaves_smdksln_Decal
/Source/plants_perennials_tfclbger
/Source/plants_ferns_ubolejkia
/Source/plants_ferns_tkytbjdia
/Source/plants_ferns_tkvifeyia
/Source/plants_3d_ubxlafeja
/Source/plants_3d_ubolffeia
/Source/plants_3d_tjtjfinia
/Source/plants_3d_tjejafeia
/Source/plants_3d_sjlkG
/Source/plants_3d_sjli7
/Source/plants_3d_siBmK
/Source/plants_3d_shqke
/Source/plants_3d_sfcpd
/Source/plants_3d_sesmJ
/Source/plants_3d_seEoW
/Source/plants_3d_rmAsg
/Source/plants_3d_rkqjj
/Source/plants_3d_rhDso
/Source/plants_3d_rhDrC
/Source/plants _3d_sbslY
/Source/Pine Debris_sl2qdhh_Decal
/Source/Ground Forest 2x2 M_sihnehqa_Surface
/Source/Ground Forest 2x2 M_sfjmafua_Surface
/Source/Gravel And Grass On Soil 2x2 M_sg0kafvk_Surface
/Source/Grassy Gravel 2x2 M_shxmeiak_Surface
/Source/Grassy Forest Roots 2x2 M_tb3hfg2g_Surface
/Source/garden plant_flowerless_ud4geejja
/Source/garden plant_flowering_ud0mcinia
/Source/Forest Roots 2x2 M_smuqcifp_Surface
/Source/Forest Roots 2x2 M_smulddvp_Surface
/Source/Forest Roots 2x2 M_smspdebp_Surface
/Source/Forest Floor 2x2 M_ubplcgpkw_Surface
/Source/Forest Floor 2x2 M_tl2neghew_Surface
/Source/Forest Floor 2x2 M_tijlcapn_Surface
/Source/Dried Grass Dust_smonsso_Decal
/Source/Dead Leaves_sk4lzhn_Decal
/Source/Chinese Tallow_sktm0fn_Decal
/Source/Burnt Forest Floor 2x2 M_tijmbfkxa_Surface
/Source/Burnt Forest Floor 2x2 M_tijmbf3xa_Surface
/Source/Beech Forest Floor 2x2 M_tebpdeps_Surface
/Source/Bark Soil Mix 2x2 M_sesjcefb_Surface
/Source/Wild Grass And Ferns 2x2 M_sglhagnk_Surface
/Source/megascansAsset.json